In [1]:
# Let's first install the selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\shrihan manit\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: idna in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\shrihan manit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shrihan manit\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shrihan manit\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# Let's now import all the required libraries

import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Shrihan Manit\OneDrive\Desktop\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [4]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
# Entering designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
# Entering location as required
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(3)

In [8]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [9]:
time.sleep(3)
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Senior Data Analyst',
 'Senior Data Analyst - Data Modeling/Quality',
 'Senior Data Analyst',
 'Data Analyst/Data Engineer',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Data Analytics and Interpretation Business Analyst',
 'Data Analyst 2',
 'Sr. Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - India & Singapore']

In [10]:
time.sleep(3)
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Singapore, Gurgaon/Gurugram, Mumbai (All Areas)']

In [11]:
time.sleep(3)
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Mobile Premier League',
 'Get My Parking',
 'Walmart',
 'Tech Mahindra',
 'TeamLease',
 'Accenture',
 'Zynga',
 'McAfee',
 'TMF Group',
 'Course5']

In [12]:
time.sleep(3)
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['3-5 Yrs',
 '4-9 Yrs',
 '4-7 Yrs',
 '4-9 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '2-7 Yrs',
 '5-7 Yrs',
 '4-9 Yrs',
 '3-8 Yrs']

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst,Bangalore/Bengaluru,Mobile Premier League,3-5 Yrs
1,Senior Data Analyst - Data Modeling/Quality,Bangalore/Bengaluru,Get My Parking,4-9 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
3,Data Analyst/Data Engineer,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra,4-9 Yrs
4,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
5,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
6,Data Analyst 2,Bangalore/Bengaluru,Zynga,2-7 Yrs
7,Sr. Data Analyst,Remote,McAfee,5-7 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,TMF Group,4-9 Yrs
9,Senior Data Analyst - India & Singapore,"Bangalore/Bengaluru, Singapore, Gurgaon/Gurugr...",Course5,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [15]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [16]:
# Entering "Data Scientist" in skills/designations/companies
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [17]:
# Entering location as Bangalore
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [18]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()
time.sleep(3)

In [19]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []

In [20]:
time.sleep(3)
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Job Opportunity on Data Science_ Python with Techmahindra',
 'Assistant Manager - Data Science',
 'Analystics & Modeling Specialist',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Data Scientist/AIML Engineer',
 'ACN - Applied Intelligence - Data & Insights - CPG - 09',
 'Data Scientist',
 'Lead ML Scientist',
 'Tcs Hiring For Data Scientist',
 'Data Scientist - II']

In [21]:
time.sleep(3)
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)']

In [22]:
time.sleep(3)
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Tech Mahindra',
 'CitiusTech',
 'Accenture',
 'NTT DATA Business Solutions Private Limited',
 'upGrad',
 'Accenture',
 'IBM',
 'Fractal Analytics',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Bizongo']

In [23]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [24]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,ACN - Applied Intelligence - Data & Insights -...,Bangalore/Bengaluru,Accenture
6,Data Scientist,Bangalore/Bengaluru,IBM
7,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
8,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
9,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [25]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [26]:
# Entering "Data Scientist" in skills/designations/companies
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [27]:
# Entering location as Bangalore
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [28]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [29]:
time.sleep(3)
# Since job_location is Delhi/NCR a single element applied absolute XPATH
job_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[2]/label/p/span[1]")
job_location.click()

In [32]:
# Since salary is 3-6 Lakhs a single element applied absolute XPATH
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()
time.sleep(4)

In [33]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [34]:
time.sleep(3)
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist',
 'Data scientist- Python',
 'Urgent Hiring- Expertise in Data Scientist in Gurgaon & Bangalore',
 'Data Scientist']

In [35]:
time.sleep(3)
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Dehradun, Hyderabad/Secunderabad',
 'Gurgaon/Gurugram, Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram']

In [36]:
time.sleep(3)
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Optum',
 'torcai digital media',
 'Confidential',
 'Feedback Infra',
 'TeamPlus Staffing Solution Pvt Ltd',
 'CLARITY CONSULTING',
 'AR Consultant']

In [37]:
time.sleep(3)
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['2-7 Yrs', '2-7 Yrs', '1-6 Yrs', '2-4 Yrs', '3-6 Yrs', '3-8 Yrs', '2-5 Yrs']

In [38]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

7 7 7 7

In [39]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Dehradun, Hyderabad/Secunder...",torcai digital media,2-7 Yrs
2,Data Scientist - Predictive Analytics,"Gurgaon/Gurugram, Noida, Mumbai, Chandigarh, H...",Confidential,1-6 Yrs
3,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
4,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
5,Urgent Hiring- Expertise in Data Scientist in ...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",CLARITY CONSULTING,3-8 Yrs
6,Data Scientist,Gurgaon/Gurugram,AR Consultant,2-5 Yrs

Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand Product Description Price To scrape the data you have to go through following steps: Go to flipkart webpage by url https://www.flipkart.com/ Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [40]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Shrihan Manit\OneDrive\Desktop\chromedriver.exe")

In [41]:
# Opening the flipkart on automated chrome browser
driver.get("https://www.flipkart.com/")

In [43]:
# Entering product in search bar as required
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

time.sleep(3)
# Serching Item
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [44]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []
Discount = []
 
time.sleep(3)

#Scrapping the required details
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in Price_tags:
        Price.append(i.text)
        
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href')) 
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [45]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 120 120 120

In [46]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100],'Discount':Discount[:100]})
df

,Brand,Product_Desc,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹319,84% off
2,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹901,54% off
3,Roadster,UV Protection Oval Sunglasses (55),₹301,72% off
4,Mi,Polarized Aviator Sunglasses (Free Size),₹799,33% off
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹359,82% off
96,Fastrack,UV Protection Wrap-around Sunglasses (63),₹710,21% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹764,61% off
98,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219,78% off
99,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹538,73% off

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand Product Description Price Discount As shown in the below image, you have to scrape the tick marked attributes

In [47]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Shrihan Manit\OneDrive\Desktop\chromedriver.exe")

In [48]:
# Opening the flipkart on automated chrome browser
driver.get("https://www.flipkart.com/")

In [49]:
# Entering product in search bar as required
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

time.sleep(3)
# Serching Item
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [50]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []
Discount = []

time.sleep(3)

#Scrapping the required details
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in Price_tags:
        Price.append(i.text)
        
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href')) 
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [51]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 115 120 120

In [52]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100],'Discount':Discount[:100]})
df

,Brand,Product_Desc,Price,Discount
0,RapidBox,Sneakers For Men,₹549,45% off
1,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹499,85% off
2,BIRDE,Premium Casual Shoes for Men Sneakers For Men,₹199,80% off
3,BIRDE,Casual Shoes Sneakers For Men,₹199,80% off
4,BIRDE,Latest Design Trendy and Comfortable Sports Sh...,₹199,80% off
...,...,...,...,...
95,RapidBox,STR2 Sneakers For Men,₹501,49% off
96,RONSON,Sneakers For Men,₹599,70% off
97,KNIGHT WALKERS,Mesh Sneakers For Men,₹664,66% off
98,ASTEROID,Modern Trendy Sneakers Shoes Sneakers For Men,₹474,52% off
99,GVR,Men's Casual Walking Partywear Sneakers Runnin...,₹599,40% off

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [53]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Shrihan Manit\OneDrive\Desktop\chromedriver.exe")

In [54]:
# Opening the Myntra website on automated chrome browser
driver.get("https://www.myntra.com/shoes")

In [55]:
time.sleep(4)

#clicking on price filter
pricebutton = driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
pricebutton.click()

#clicking on black colour 
blackbutton = driver.find_element(By.XPATH,'//li[@class="colour-listItem"]/label/div')
blackbutton.click()

In [56]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []

#Scrapping the required details
start=0
end=2
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']")      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h4[1]")     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]') 
    for i in Price_tags:
        Price.append(i.text) 
        
        nxt_button=driver.find_elements(By.XPATH,'//a[@rel="next"]')

try:
    driver.get(nxt_button[1].get_attribute('href')) 
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [57]:
print(len(Brand),len(Product_Description),len(Price))

100 100 100

In [58]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100]})
df

,Brand,Product_Desc,Price
0,Red Tape\nMen Walking Shoes\nRs. 1187Rs. 5399(...,Men Walking Shoes,Rs. 1187Rs. 5399(78% OFF)
1,Puma\nMen Cell Vive Elevate Running\nRs. 2599R...,Men Cell Vive Elevate Running,Rs. 2599Rs. 6499(60% OFF)
2,Red Tape\nMen Walking Shoes\nRs. 1165Rs. 5299(...,Men Walking Shoes,Rs. 1165Rs. 5299(78% OFF)
3,Roadster\nMen Sneakers\nRs. 796Rs. 3795(79% OFF),Men Sneakers,Rs. 796Rs. 3795(79% OFF)
4,Puma\nMen LQDCELL Running Shoes\nRs. 2799Rs. 6...,Men LQDCELL Running Shoes,Rs. 2799Rs. 6999(60% OFF)
...,...,...,...
95,Campus\nMen Running Shoes\nRs. 779Rs. 1299(40%...,Men Running Shoes,Rs. 779Rs. 1299(40% OFF)
96,Red Tape\nMen Walking Shoes\nRs. 1143Rs. 5199(...,Men Walking Shoes,Rs. 1143Rs. 5199(78% OFF)
97,Skechers\nMen Max Cushioning Running\nRs. 6749...,Men Max Cushioning Running,Rs. 6749Rs. 8999(25% OFF)
98,HRX by Hrithik Roshan\nMen Out Back Outdoor Sh...,Men Out Back Outdoor Shoes,Rs. 1739Rs. 5799(70% OFF)
99,Monrow\nWomen Sandals\nRs. 988Rs. 2299(57% OFF),Women Sandals,Rs. 988Rs. 2299(57% OFF)

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

Title
Ratings
Price

In [59]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Shrihan Manit\OneDrive\Desktop\chromedriver.exe")

In [60]:
# Opening the amazon website on automated chrome browser
driver.get("https://www.amazon.in/")

In [61]:
# Entering product "Laptop" in search bar as required
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

time.sleep(3)

# Serching Item
search = driver.find_element(By.ID,"nav-search-submit-button")
search.click()

In [63]:
# Since we need to apply in search CPU type “Intel Core i7”
CPU_intel_core_i7= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[8]/ul[5]/li[13]/span/a/span")
CPU_intel_core_i7.click()

time.sleep(3)

In [64]:
# Creating empty list to store the scraped data
Title = []
Ratings =[]
Price = []

In [65]:
time.sleep(3)
# Scraping Title from the given page
title_tags= driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    Title.append(title)
Title

['Acer Spin 5 Professional Laptop with Alexa Built-in and Active Stylus Pen (12th Gen Intel Core i7/16GB RAM/1 TB SSD) SP514-51N, 1.3 KG',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" (39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 10/Backlit Keyboard/Onyx Black/2.2Kg), 81Y4019EIN',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Grey/1.14 kg), UX325EA-KG722WS',
 '(Renewed) HP ELITEBOOK X360 1030 G4 (CORE I7 8TH/16GB/512GB SSD/WEBCAM/13.3" TOUCH/WIN PRO)',
 '(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch (31.75 cms) HD (1366 X 768) Laptop (8 GB/256 GB SSD/Windows 10/Intel HD 5500//1.53 Kg), Lenovo X250',
 '(Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-inch Touch Screen Laptop (4th Gen Core i7/8GB/2TB/Windows 10/Integrated Graphics), Black']

In [66]:
# Scraping Ratings from the given page
rating_tags= driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rating =i.text
    Ratings.append(rating)
Ratings

['', '', '', '', '', '', '', '', '', '']

In [67]:
# Scraping Price from the given page
price_tags= driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price =i.text
    Price.append(price)
Price

['1,24,490',
 '82,990',
 '80,950',
 '82,990',
 '78,990',
 '1,06,800',
 '79,990',
 '47,890',
 '23,997',
 '41,690']

In [68]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [69]:
# Creating the dataframe from above data
df = pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings     Price
0  Acer Spin 5 Professional Laptop with Alexa Bui...          1,24,490
1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            82,990
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            80,950
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            82,990
4  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...            78,990
5  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...          1,06,800
6  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...            79,990
7  (Renewed) HP ELITEBOOK X360 1030 G4 (CORE I7 8...            47,890
8  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...            23,997
9  (Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-i...            41,690